.cards-prod{
    display: inline-block;
    margin: 2.6rem;
}

.cards-total{
    border: none;
    text-align: center;
    height: 29.9rem;
}

.btn-add{
    background-color:  #f8f4f4;
    color: #000;
    border: none;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0%;
}

.btn-add:hover{
    border-bottom: solid 4px #f3c500;
    background-color:#f8f4f4 ;
    color: #000;
}

.cards-font{
    background-color: #f8f4f4;
}

.prod{
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 500;
}