.imgCarro{
    width: 2.1rem;
    margin-left: 2rem;
    cursor: pointer;
}

strong{
    font-size: 1.3rem;
    color: #fff;
    margin-right: 2rem;
    padding: 1rem;
}


.imgCarro:hover{
    border-bottom: solid 1px #f3c500;
}