.body-nav{
    background-color:  #505050;
    border-bottom: #f3c500 solid 3px;
}

.name{
    text-transform: uppercase;
    font-size: 2rem;
    margin-right: 10rem;
    font-weight: 500;
    color: #fff;
    
}

.logo{
    text-decoration: none;
}

.name:hover{
    color: #757171;
}

.me-auto{
    text-align: center;
    font-size: 1.1rem;
}
.sec{
    color: #fff !important;
    margin-right: 1.2rem;
    text-decoration: none;
}

.sec:hover{
    color: #757171 !important;
    border-bottom: solid 1px #f3c500;
}


